<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="Artículos">
  <% @articles.each do |article| %>
    <%= render article %>
    <p class="pt-2 ps-1">
      <%= link_to "Mostrar Post", article, :class=>"btn btn-sm btn-dark"  %>
    </p>
  <% end %>
</div>

