<div class="container text-center form-posteat pt-3 pb-3">
  <h1>Nuevo producto</h1>

  <%= render "formText", articles: @article %>

  <br>

  <div>
    <%= link_to "Volver a articulos", articles_path %>
  </div>
</div>